.visual.sub .sub_title h1:after{background-color:#00BCD4;}
.footer{border-bottom:3px solid #00BCD4;}
.footer .bottom a:active{color:#00BCD4}
.magazine .header>.side>ul>li>a:active{color:#00BCD4}
.gnb>ul .depth2:after{background-color:#00BCD4}
.body.fixed-width .lnb>ul>li.on a{color:#00BCD4}
.body.fixed-width .lnb ul ul li.on a{color:#00BCD4}
.body.fixed-width .lnb ul ul a:active{color:#00BCD4}

.magazine .custom_area a:hover,.magazine .custom_area a:hover,.magazine .custom_area a:hover{color:#4DD0E1}
.gnb>ul .depth2 a:hover,.gnb>ul .depth2 a:active,.gnb>ul .depth2 a:focus,.gnb>ul .depth2>li.on>a {color:#4DD0E1}
.btn_top:hover{background-color:#4DD0E1;}
.gnb>ul>li>a,.gnb>ul>li>a:hover,.gnb>ul>li>a:focus,.gnb>ul>li>a:focus,.gnb>ul>li.on>a{color:#4DD0E1}
.footer .site_map > ul ul a:hover,
.footer .site_map > ul ul a:focus,
.footer .site_map > ul ul a:active{color:#4DD0E1}
.footer .bottom a:hover,
.footer .bottom a:focus,
.footer .bottom a:active{color:#4DD0E1}
.header>.side>ul .ly a:hover{color:#4DD0E1;}
.magazine .gnb>ul>li>a:hover,
.magazine .gnb>ul>li>a:focus,
.magazine .gnb>ul>li>a:focus,
.magazine .gnb>ul>li.on>a,
.magazine .header>.side>ul>li.on>a,
.magazine .header>.side>ul .ly a:hover{color:#4DD0E1}