.visual.sub .sub_title h1:after{background-color:#4CAF50;}
.footer{border-bottom:3px solid #4CAF50;}
.footer .bottom a:active{color:#4CAF50}
.header>.side>ul .ly a:hover{color:#4CAF50;}
.magazine .gnb>ul>li>a:hover,.magazine .gnb>ul>li>a:focus,.magazine .gnb>ul>li>a:focus,.magazine .gnb>ul>li.on>a,.magazine .header>.side>ul>li.on>a,.magazine .header>.side>ul .ly a:hover{color:#4CAF50}
.magazine .header>.side>ul>li>a:active{color:#4CAF50}
.magazine .custom_area a:hover,.magazine .custom_area a:hover,.magazine .custom_area a:hover{color:#4CAF50}
.gnb>ul .depth2:after{background-color:#4CAF50}
.gnb>ul .depth2 a:hover,.gnb>ul .depth2 a:active,.gnb>ul .depth2 a:focus,.gnb>ul .depth2>li.on>a {color:#4CAF50}
.body.fixed-width .lnb>ul>li.on a{color:#4CAF50}
.body.fixed-width .lnb ul ul li.on a{color:#4CAF50}
.body.fixed-width .lnb ul ul a:active{color:#4CAF50}
.btn_top:hover{background-color:#4CAF50;}
.gnb>ul>li>a:hover,.gnb>ul>li>a:focus,.gnb>ul>li>a:focus,.gnb>ul>li.on>a{color:#4CAF50}