.visual.sub .sub_title h1:after{background-color:#9E9E9E;}
.footer{border-bottom:3px solid #9E9E9E;}
.footer .bottom a:active{color:#9E9E9E}
.magazine .header>.side>ul>li>a:active{color:#9E9E9E}
.gnb>ul .depth2:after{background-color:#9E9E9E}
.body.fixed-width .lnb>ul>li.on a{color:#9E9E9E}
.body.fixed-width .lnb ul ul li.on a{color:#9E9E9E}
.body.fixed-width .lnb ul ul a:active{color:#9E9E9E}

.magazine .custom_area a:hover,.magazine .custom_area a:hover,.magazine .custom_area a:hover{color:#E0E0E0}
.gnb>ul .depth2 a:hover,.gnb>ul .depth2 a:active,.gnb>ul .depth2 a:focus,.gnb>ul .depth2>li.on>a {color:#E0E0E0}
.btn_top:hover{background-color:#E0E0E0;}
.gnb>ul>li>a,.gnb>ul>li>a:hover,.gnb>ul>li>a:focus,.gnb>ul>li>a:focus,.gnb>ul>li.on>a{color:#E0E0E0}
.footer .site_map > ul ul a:hover,
.footer .site_map > ul ul a:focus,
.footer .site_map > ul ul a:active{color:#E0E0E0}
.footer .bottom a:hover,
.footer .bottom a:focus,
.footer .bottom a:active{color:#E0E0E0}
.header>.side>ul .ly a:hover{color:#E0E0E0;}
.magazine .gnb>ul>li>a:hover,
.magazine .gnb>ul>li>a:focus,
.magazine .gnb>ul>li>a:focus,
.magazine .gnb>ul>li.on>a,
.magazine .header>.side>ul>li.on>a,
.magazine .header>.side>ul .ly a:hover{color:#E0E0E0}